<html>
	<head> 
		<title>Anxiety - Dear Zindagi</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->        
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li></a>
            </ul>
        </div>
        
        <!---------------- content block --------------->
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >What is anxiety?</div>
            </div><br>
            <div class="content2">
                <p>
                     Panic disorder is characterized by anxiety,which is intermittent and unrelated to particular circumstances  The central feature is the occurrence of panic attacks, i.e. suddenattacks of anxiety in which physical symptoms predominate and are accompanied by fear of a serious consequence such as a heart attack.<br><br>The litetime prevalence of panic disorder is 1.5 to 296. It is seen 2 to 3 times more often in females.<br><br>Anxiety is viewed as an unconditional inherent response of the individual to a painful stimulus.<br>

                </p>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Classification</div>
            </div><br>
            <div class="content2">
                <p>
                     
                
                <ul style="padding: 10px 30px;">
                        <li>
                            Panic disorder
                        </li>
                        <li>
                            Generalized anxiety disorder
                        </li>
                        <li>
                            Mixed anxiety and depressive disorder
                        </li>
                        <li>
                            Other specified anxiety disorders.
                        </li>
                    </ul>

                </p>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Symptoms</div>
            </div><br>
            <div class="content2">
                <ul style="padding: 10px 30px;">
                    <li>Shortness of breath and smothering sensations.</li><br>
                    <li>Heart beat rapid and pounding. </li><br>
                    <li>Choking, chest discomfort or pain.</li><br>
                    <li>Palpitations.</li><br>
                    <li>Sweating, dizziness, unsteady feelings or faintness.</li><br>
                    <li>Nausea or abdominal discomfort. </li><br>
                    <li>Depersonalization or derealization.</li><br>
                    <li> Numbness or tingling sensations.</li><br>
                    <li>Flushes or chills.</li><br>
                    <li>Trembling or shaking.</li><br>
                    <li>Fear of dying or having a heart attack.</li><br>
                    <li>Fear of being out of control, agoraphobia, depression.</li>
                </ul>

                
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Tips to deal with it!</div>
            </div><br>
            <div class="content2">
                <ul style="padding: 10px 30px;">
                    <li><b>Relaxation techniques - </b>It uses to help the patient cope with a panic attack by easing physical symptoms and directing attention elsewhere. </li><br>
                    <li><b>Deep breathing exercises - </b>Deep breathing exercises, which also reduce the risk of hyperventilation. </li><br>
                    <li><b>Progressive relaxation -</b> Progressive relaxation, which involves conscious tightening and relaxation of sthe skeletal muscles in a sequential fashion.</li><br>
                    <li><b>Positive verbalization or guided imagery - </b>In this therapy the patient elicits peaceful mental images or some other purposeful thought or action, promoting feelings of relaxation, renewed hope, and a sense of being in control of a stressful situation</li><br>
                    <li><b>Listening to calming music.</b></li>
                </ul> 
            </div>
            </div>
        </div>
        
        <!----------------------- quiz ------------------->
        <button class="button2" id="tips" style="margin-left:0px;"><a href="/articles/anxietyquiz">Want to take a quiz to test anxiety?</a></button>
        
        <div class="quote">
            <p align="center">"Whatever is meant to be, Will be."</p>
        </div>
    
        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>

    
    </body>
</html>
