<html>
	<head> 
		<title>Dear Zindagi</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li></a>
            </ul>
        </div>
        
        <!--<div id="main" class="block">
            <div class="extra2">
            <div class="heading" style="display: flex;flex-direction: row;align-items: center;justify-content: center;margin-top:0px;">
                <div >Most Common Mental Problems</div>
            </div><br><br><br>
            <div class="content-box" style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
                <a href="anxiety.html"><button class="button2">Anxiety</button></a>
                <a href="depression.html"><button class="button2">Depression</button></a>
                <a href="ocd.html"><button class="button2">OCD</button></a>
            </div>
            </div>
        </div>-->
        <div style="background-color: rgba(0,0,0,0.7);">
       <div id="main" class="block" style="flex-direction: column;padding:50px;margin-bottom:0px;">
            <div class="heading" style="width:100%;justify-content: center;">
            Most Common Mental Problems
            </div><br><br><br>
            <div>
                <a href="/articles/anxiety"><button class="button2">Anxiety</button></a>
                <a href="/articles/depression"><button class="button2">Depression</button></a>
                <a href="/articles/ocd"><button class="button2">OCD</button></a>
            </div>
        </div>
        
        
        <a href="/tips"><div class="button2" id="tips">Tips to lead a healthy life!</div></a>
        </div>
        <div class="quote">
            <p align="center">"Don't chase, don't beg, don't stress, don't be desperate, just relax. Because when you relax it will come to you. Make your wants, want you."</p>
        </div>

        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>
    </body>
</html>
