<html>
	<head> 
		<title>Depression - Dear Zindagi</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->        
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li></a>
            </ul>
        </div>
        
        <!---------------- content block --------------->
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >What is depression?</div>
            </div><br>
            <div class="content2">
                <p>
                     Depression is one of the leading causes of disability across the world. The World Health Organization 2006 estimates that depression will rank second only to heart disease by 2020 in terms of global disability. An estimated 3-4% of India's 100 crore plus population suffer from major mental disorders and about 7-10% of the population suffers from minor depressive disorders.<br><br> According to transactional model of stress/adaptation, depression occurs as a combination of predisposing factors (familyhistory and biochemical alterations), past experiences (object loss in infancy, defect in cognitive development) and existing conditions (lack of adequate support system, inadequate coping skills, other physiological conditions). Because of weak ego strength, patient is unable to use coping mechanisms effectively. Maladaptive coping mecha-nisms used are denial, regression, repression, suppression, displacement and isolation. All these factors lead to clinical depression.<br><br> Risk of depression in males is 8-12% and in females it is 20-26%. Depression occurs twice asfrequently in women as in men. The median age at onset of bipolar disorder is 18 years in men and 20 years in women.
                </p>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Symptoms</div>
            </div><br>
            <div class="content2">
                <ul style="padding: 10px 30px;">
                    <li>Difficulties in thinking and concentration.</li><br>
                    <li>Subjective poor memory.</li><br>
                    <li>Menstrual or sexual disturbances.</li><br>
                    <li>Vague physical symptoms such as fatigue, aching discomfort, constipation, etc.</li><br>
                    <li>Significant decrease in appetite or weight.</li><br>
                    <li>Early morning awakening, at least 2 or more hours before the usual time of waking up.</li><br>
                    <li> Diurnal variation, with depression being worst in the morning</li><br>
                    <li>Pervasive lack of interest and lack of reactivity to pleasurable stimuli.</li><br>
                    <li>Psychomotor agitation or retardation</li>
                </ul>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Tips to deal with it!</div>
            </div><br>
            <div class="content2">
                
                <ul style="padding: 10px 30px;">
                    <li><b>Take therapy -</b> Please go to a therapist. They will help you in many ways and you can cure yourself from this in a very short time. If you don'ts have money then there are alot of organizations who provide free counciling so please find them and contact them.</li><br>
                    <li><b>Physical activitivy -</b> Go for a walk everyday or do some exercise.</li><br>
                    <li><b>The Reason -</b> Talk to yourself and try to know the reason and try to solve them with you own problem solving approach.</li><br>
                    <li><b>Meditation -</b> It hepls you to calm your mind and you're able to focus on you and your mind.</li><br>
                    <li><b>Self-help Books -</b> You can read or listen to self help books. </li><br>
                    <li><b>Schedule -</b> Make a good schedule. Plan your day and take a good sleep. </li><br>
                    <li><b>Talk to someone -</b> Share your condition with your parents or your friends. They will definitely help you.</li><br>
                    <li><b>Art -</b> Write journal or write poems, write stories or try to pain or sketch, you can try to sing or dance or playing any instruments. Art helps you keep calm and makes you feel more happy and relax.</li>
                </ul>
            </div>
            </div>
        </div>
        
        <!----------------------- quiz ------------------->
        <button class="button2" id="tips"><a href="/articles/depressionquiz">Want to take a quiz to test depression?</a></button>
        
        <div class="quote">
            <p align="center">"Heart break is life too!"</p>
        </div>
        
        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>


    </body>
</html>
