<html>
	<head> 
		<title>FAQs - Dear Zindagi</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li></a>
            </ul>
        </div>


        <div style="background-color: rgba(0,0,0,0.6)">
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >FAQs</div>
            </div><br><br><br>
            <div class="content-box"style="margin-top:18px;">
                <ul><li>
                    <b>How do I know if I’m unwell?</b><br>
                    
                    If your beliefs , thoughts , feelings or behaviours have a significant impact on your ability to function in what might be considered a normal or ordinary way, it would be important to seek help.
                </li><br>
                    
                    <li>
                    <b>What causes mental health problems?</b><br>
                    
                    Challenges or problems with your mental health can arise from psychological, biological, and social, issues, as well as life events.
                </li><br>
                    
                    <li>
                    <b>Can you prevent mental health problems?</b><br>
                    
                    We can all suffer from mental health challenges, but developing our wellbeing, resilience, and seeking help early can help prevent challenges becoming serious.
                </li><br>
                    
                    <li>
                    <b>Can people get over mental illness without medication?</b><br>
                    
                    Health care professionals have differing opinions on the effectiveness of medication to treat mental illness.  Mental illness is a medical illness. A person does not simply "get over" mental illness without some form of treatment. Mental illness is generally a lifelong, chronic medical illness that needs consistent treatment.
                </li><br>
                    
                    <li>
                    <b>Can people stabilize a mental illness simply with medication alone?</b><br>
                    
                    Though medications can often aid in the treatment of mental illness, it is unlikely that taking medication as the sole form of treatment will be effective in "getting over" or stabilizing one's mental illness. Professionals generally recommend therapy along with medications to manage mental illness most effectively.
                </li><br>
                    
                    <li>
                    <b>Does exercising help control mental illness just by itself?</b><br>
                    
                    By itself, exercise is unlikely to control many types of mental illness. Many health care professionals think that physical exercise has a positive effect on depression, anxiety, and other mental illnesses, though all caution that more clinical research must be done on the subject. There does seem to be a large section of the medical community that believes physical exercise, in conjunction with therapy and prescription medication, is very beneficial to persons living with mental illnesses.
                </li><br>
                    
                    <li>
                    <b>Is mental illness a chronic disorder?</b><br>
                    
                    Chronic is defined as, "lasting for a long period of time or marked by frequent recurrence".<br> Many, if not most, mental illnesses could be categorized as chronic in that the individual living with a certain mental illness will never "get over" that illness. But this is not to say that many symptoms of various mental illnesses cannot be largely alleviated through treatment. If treated correctly, many mental illnesses will have a minimal impact on those living with them.
                </li><br>
                    
                    <li>
                    <b>Is it true that more people in the world have died by suicide than by homicide?</b><br>
                    
                    Yes, more people have committed suicide. In a report from the year 2000, The World Health Organization stated that one person commits suicide every 40 seconds, that one person is murdered every 60 seconds, and that one person dies in armed combat every 120 seconds. In 2000, 815,000 to 1 million people took their own lives.
                </li><br>
                </ul>
            </div>
            </div>
        </div>
    </div>
        
        <!---<div class="block">
            <div class="extra2">
            <div class="content-box">
                <ul><li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.<br><br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.
                </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.<br><br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.
                </li>
                    
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.<br><br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.
                </li>
                    
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.<br><br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.
                </li>
                
                </ul>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="content-box">
                <ul><li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.<br><br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.
                </li></ul>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="content-box">
                <ul><li>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.<br><br>
                    
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa sed elementum tempus egestas sed sed risus.
                </li></ul>
            </div>
            </div>
        </div>--->

        <div class="quote">
            <p align="center">"If you erase all the mistakes of your past, you would also erase all the wisdom of your present. Remember the lesson not the disappointment."</p>
        </div>
        
        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>
    </body>
</html>
