<html>
	<head> 
		<title>Dear Zindagi</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li></a>
            </ul>
        </div>
        <div style="background-color: rgb(0,0,0,0.7);padding:0px;">
        <div id="aim" class="block">
            <div class="extra">
            <div class="heading">
                <div>Aim</div>
            </div>
            <div class="content">
                <p>
                    Mental health, even after being well known, is something that still gets treated as a taboo. Sometimes, it is even hard for people to accept that them or their loved ones are going through a mental health problem.<br><br>
                    <b>'Dear Zindagi'</b> is an attempt to address our own lives in optimistic ways, to develop a sensitive observation towards our surroundings and keep a check on our closed ones. So that, we are ready when they need our help the most!
                </p>
            </div>
            </div>
            <img src="/public/pic11.png">
        </div>

        <div id="importance" class="block">

            <div class="extra">
            <div class="heading">
                <div>Importance of Mental Health</div>
            </div>
            <div class="content">
                <p>
                    It is simple! Mental & physical health are closely related. Prolonged battle with mental issues can show their effect on physical. And thus, they combinedly might affect our productivity, work life, personal relations, and overall, our happiness!<br><br>
                    To be happy and healthy should be our priority. As we are caretakers of our own selves. We should be the first person to love ourselves.<br><br>
                    And that is why, keeping a check on our mental health is very important!
                </p>
            </div>
            </div>
            <img src="/public/pic11.png">

        </div>


        <div id="personalnote" class="block">
            <div class="extra">
            <div class="heading">
                <div>Personal Note</div>
            </div>
            <div class="content">
                <p>
                     The reason we choose this topic for our project is that we feel like mental health is a very crucial but in our society it is still treated as a taboo and people do not prefer to talk about it even with their loved ones! If anyone suffers from any physical disease they go to the doctor and everyone prays for him. But if someone suffers from mental health then they don't even want to go to a doctor and if they go people around them start calling him/her that she/he is mentally ill or weak. No! mental problems doesn't show that you are mentaly ill. It just a modern age problem and it's very normal like any physical disease. <br>
                    In this era people are very busy in their lives. They don't even have time to sit with themselves and aks that "Hey, how are you doing?" And see if they don't have time to ask this small question with themselves then how can we expect that they ask this question to someone else. If we see in this era we are surrounded with so many people but everyone is in our social media platforms. We are with each other but on social media platforms. Basically we are with someone everytime but not physically. <br>
                    For a healthy mind we need some people around us. Who cares for us with whome we can spend our lazy Sundays, with whome we can go on a vacation with whome we can celebrate our lives small event to make them a big one. For a healthy mind we also have to do yoga or exercise, meditation, we should spend time with our selves and with our family but because of our busy schedule and because of social media platforms we don't even remember that...... <br>
                    What you think and what you feel  will definitely going to affect your life. If you feel good you do your every work in a proper way and if you do not feel good you can't even able to manage a small thing in your life. And we (members of this website) observedd that everyone need someone with whome they can talk, can laugh and share those small moments. In this days most of the people has something to share with anyone but there is no one to listen to them so here we are to listen to your story of success, story of trying again and again after every failure, story of your joy and the saddest thing that you felt. You can tell us about yourself or about anything that you want to share.<br>
                    If you want any treatment then please go. Your life is your responsibility so think about it and go. Talk to a therapist and share your problems. 
                    Don't worry you'll be okay and fine. Stay strong, stay calm and believe.

                    <br><br><b>"Sending love to everyone healing from the things they don't even discuss with anyone."</b>
                </p>
            </div>
            </div>
            <img src="/public/pic11.png">
        </div>
        </div>
        <div class="quote">
            <p align="center">When you start living for the small moments, That's when you really know that you're living.</p>
        </div>
        
        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O Competition 2021</p>
        </div>


    </body>
</html>
