<html>
	<head> 
		<title>OCD - Dear Zindagi</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->        
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li></a>
            </ul>
        </div>
        
        <!---------------- content block --------------->
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >What is OCD?</div>
            </div><br>
            <div class="content2">
                <p>
                     According to ICD9, obsessive-compuisive
disorder (OCD) is a state in which "the outstanding symptom is a leeling of subjective compulsion-which must be resisted-to carry out some action, to dwell on an idea, to recall an experience, or ruminate on an abstract topic. Unwanted thoughts, which include the insistency of words or ideas are perceived by the patient to be inappropriate or nonsensical. The obsessional urge or idea is recognized as alien to the personality, but as coming from within the self. Obsessional rituals are designed to relieve anxiety, for example, washing the hands to deal with contamination.
Attempts to dispel the unwelcome thoughts or urges may lead to a severe inner struggle, with intense anxiety.<br><br>
The disorder may begin in childhood, but more often begins in adolescence or early adulthood. It is equally common among men and women. The course is usually chronic. Many OCD sufferers also have major depressive disorder, panic disorder, social phobia, specific phobia, eating disorder, substance abuse or personality disorders.
                </p>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Symptoms</div>
            </div><br>
            <div class="content2">
                <ul style="padding: 10px 30px;">
                    <li>Recurrent unwanted thoughts referencing  contamination, sexuality, aggression, need for perfection, or abnormal doubt. </li><br>
                    <li>Attempts to reduce the effect of the thoughts with other thoughts.</li><br>
                    <li>Repetitive acts, impulses or rituals such as washing hands, checking, rearranging things for perfect alignment, repeating words or phrases.</li><br>
                    <li>Recognition that the thoughts are produced in his or her own mind.</li><br>
                    <li>Lack of concentration and task completion.</li><br>
                    <li>Impaired social or work functioning.</li>
                </ul>
            </div>
            </div>
        </div>
        
        <div class="block">
            <div class="extra2">
            <div class="heading">
                <div >Tips to deal with it!</div>
            </div><br>
            <div class="content2">
                <ul style="padding: 10px 30px;">
                    <li><b>Exposure and response prevenlion - </b> This is vivo exposure procedure combined with response prevention techniques.<br> For example, compulsive handwashers are encouraged to touch contarminated objects and then refrain from washing in order to break the negative reintorcement chain.</li><br>
                    <li><b>Thought stoppage - </b> Thought stopping is a technique to help an individual to learn to stop thinking unwanted thoughts.<br><br> Following are the steps in thought stopping:
                        <ul style="padding: 5px 30px;">
                            <li>Sit in a comfortable chair, bring to mind the unwanted thought concentrating on only one thought per procedure.</li>
                            <li>As soon as the thought forms, give the command 'Stop!' Follow this with calm and deliberate relaxation of muscles and diversion of thought to something pleasant.</li>
                            <li>Repeat the procedure to bring the unwanted thought under control.</li>
                        </ul>
                    </li><br>
                    <li><b>Relaxation technique - </b> It includes deep breathing exercise, meditation, imagery and music.</li><br>
                    <li><b>Desensitizatio of the stimulus - </b> This can either be done in reality or through imagination. At first, the lowest item in hierarchy is contronted. The patient is advised to signal whenever anxiety is produced. With each signal he is asked to relax. After a few trials, patient is able to control his anxiety gradually.</li>
                </ul>
            </div>
            </div>
        </div>
        
        <!----------------------- quiz ------------------->
        <button class="button2" id="tips"><a href="/articles/ocdquiz">Want to take a quiz to test OCD?</a></button>
        
        <div class="quote">
            <p align="center">"Don't make permanent decisions based on temporary mood swings."</p>
        </div>
        
        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>


    </body>
</html>
