<html>
	<head> 
		<title>Mental Health Awarness</title>
        <link rel="stylesheet" href="/public/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->
		<div id="navbar">
			<ul>
                <a href="/"><li class="button"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</li></a>
                <a href="/articles"><li class="button"><i class="fa fa-file-text"></i> Articles</li></a>
                <a href="/stories"><li class="button"><i class="fa fa-align-left"></i> Stories</li></a>
                <a href="/counselor"><li class="button"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</li></a>
                <a href="/faq"><li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i>FAQs</li></a>
            </ul>
        </div>
        <div style="background-color: rgb(0,0,0,0.7)">
        <div id="main" class="block" style="flex-direction: column;padding:20px;padding-bottom:5px;">
            <div class="heading" style="width:100%;justify-content: center;font-size:5vw;">
            Stories
            </div>
            <div>
                <a href="/stories/readstory"><button class="button2" id="read">Read Stories</button></a>
                <a href="/stories/submitstory"><button class="button2" id="post">Post Your Stories</button></a>
                <br><br>
            </div>
        </div>
        
        </div>
        
        <div class="quote">
            <p align="center">"Do more of what makes you feel alive."</p>
        </div>
        
        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>
    </body>
</html>
