<html>
	<head> 
		<title>Mental Health Awarness</title>
        <link rel="stylesheet" href="styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lora&family=Mate+SC&family=Nanum+Gothic&display=swap" rel="stylesheet">
	</head>
	
	<body>

		<div id="title"><h1 align="center">Dear Zindagi</h1>
            <p>For Mental Wellness</p></div>
		
        <!----------- Navigation Bar ----------------->
		<div id="navbar">
			<ul>
                <li class="button"><a href="index.html"><i class="fa fa-fw fa-home" style="font-size:24px"></i>Home</a></li>
                <li class="button"><a href="articles.html"><i class="fa fa-file-text"></i> Articles</a></li>
                <li class="button"><a href="stories.html"><i class="fa fa-align-left"></i> Stories</a></li>
                <li class="button"><a href="counselor.html"><i class="fa fa-user-md" style="font-size:24px"></i> Contact Counselor</a></li>
                <li class="button"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:24px"></i> FAQs</li>
            </ul>
        </div>
        
        <div id="main" class="block">
            <div class="extra2">
                <div class="heading">
                    <div >Tips To Lead A Mentally Healthy Life</div>
                </div><br><br><br>
                <div class="content-box">
                    <ul>
                        <li><b>Wake up early in the morning - </b> You must be thinking that what's the connection between waking up early and our mind! But when your morning is good then your whole day would be good. When you wake up early, you have time time to admire the beauty of nature and the surroundings which would provide you mental peace. And if you wake up late then your whole day would be hactic and you might not be able to enjoy those little things of life.</li><br>
                    
                        <li><b>Meditation - </b> You should meditate daily because when you meditate you try to control your breath or try to focus on a point, which . </li><br>
                        
                        <li><b>Exercise - </b> Execises are essential in maintaining good mental health. It boosts the chemicals in your brain that help put you in a good mood.<br><br>Exercising can help eleminate low mood, anxiety, stress and feeling tired and lazy. It makes you feel energetic and active.</li><br>
                        
                        <li><b>Journal - </b> Write a journal daily. What you did today, or something good that you saw today, or something new that you've learnt today or anything, just don't forget to write it! When you start writing soon you will realise that there is alteast one good thing happens everyday. You will start observing that how blessed you are and start feeling gratitude towards life. </li><br>
                        
                        <li><b>Read books or listen to a audio book -</b> Books are very important part in our life. Books can take you to the world of imagination.Reading fiction can allow you to temporarily escape your own world and become swept up in the imagined experiences of the characters. And nonfiction self-help books can teach you strategies that may help you manage symptoms.</li>
                        
                        <li><b>Talk about your feelings -</b> Talking about your feelings isn’t a sign of weakness. It’s part of taking charge of your wellbeing and doing what you can to stay healthy.<br>Talking can be a way to cope with a problem you’ve been carrying around in your head for a while. Just being listened to can help you feel supported and less alone.<br>If it feels awkward at first, give it time. Make talking about your feelings something that you do.</li>
                        
                        <li><b>Spend time with your freineds and family -</b> <i>‘Friends are really important… We help each other whenever we can, so it’s a two-way street, and supporting them uplifts me.’</i><br>There’s nothing better than catching up with someone face to face, but that’s not always possible. You can also give them a call, drop them a note, or chat to them online instead. Keep the lines of communication open: it’s good for you!<br>Caring for others is often an important part of keeping up relationships with people close to you. It can even bring you closer together.</li>
                        
                        <li><b>Hobby -</b> What do you love doing? What activities can you lose yourself in? What did you love doing in the past?<br>Enjoying yourself can help beat stress. Doing an activity you enjoy probably means you’re good at it, and achieving something boosts your self-esteem</li>
                        
                        <li><b>Accept who you are -</b> We’re all different. It’s much healthier to accept that you’re unique than to wish you were more like someone else. Feeling good about yourself boosts your confidence to learn new skills, visit new places and make new friends. Good self-esteem helps you cope when life takes a difficult turn.</li>
                    </ul>
                </div><br>
            </div>
        </div>
        
        <div class="quote">
            <p align="center">"Celebrate yourself everyday."</p>
        </div>

        <div class="footer">
            <p align="center">&copy; Copyright - Made for the HackOn 2.O competition 2021</p>
        </div>
    </body>
</html>
